.post-container
{
    height: calc(100vh - $main-nav-height - 32px);
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;

    .post-content
    {

        .files-input
        {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            border: 1px solid black;

            width: 500px;
            height: 250px;
            border-radius: 10px;

            .input-title
            {
                font-size: 1.2em;
                font-weight: 600;
                cursor: pointer;
            }

            .input-title:hover
            {
                text-decoration: underline;
            }

            input
            {
                display: none;
            }

            .tips
            {
                font-size: 0.8em;
                font-style: italic;
            }
        }

        .post-cropper
        {
            .post-creator-content
            {
                .buttons
                {
                    display: flex;
                    justify-content: center;
                    .next-button
                    {
                       
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 50px;
                        cursor: pointer;
                    }            
                }

                .cropping 
                {
                    margin: 10px;

                    .crop-container 
                    {
                        .crop 
                        {
                            height: 500px;
                            width: 500px;
                            position: relative;
                        }
                        
                        .zoom 
                        {
                            height: 50px;
                            width: 200px;
                            position: relative;
                        }
                    }
                }
            }
        }

        .form
        {
            margin-top: -20vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .title
            {
                font-weight: 600;
                font-size: 1.2em;
                text-decoration: underline;
            }
            
            input.input
            {
                margin: 10px;
                padding: 10px;
                width: 250px;
            }

            button.button
            {
                height: 50px;
                width: 100px;
            }
        }
    }
}

