.default-light
{
    background-color: $light-background;

    *
    {
        color: $light-text;
    }


    //NAV    
    .main-nav {background-color: $light-secondary-button;}
    .main-nav .item.active {background-color: $light-accent; color: #FFF;}
    .main-nav .item.has-dropdown .dropdown {background-color: $light-secondary-button;}

    //PROFILE
    .profile-feed .content .post .icons p, .profile-feed .content .post .icons p i {color: white;}


    //CreatePost
    .post-container .post-content .post-cropper .post-creator-content .buttons .next-button {background-color: $light-primary-button;}

    //POST
    .post-view-container .post-box {border-color: $light-accent;}
    .post-view-container .post-box .post-box-body .icons p i {color: $light-secondary-button;}
    
    //COMMENT
    .comments-box {border-color: $light-accent;}
    .comments-box .comments-footer .send-btn {background-color: $light-background;}
    .comments-box .comments-footer .comment-input {color: #000;}

    //SUGGEST
    .suggest .box {border-color: $light-accent;}
    
    .button {color: dark; background-color: $light-secondary-button;}


    //Search Module
    .search-box .search-dropdown {background-color: $light-secondary-button;}
}