.default-dark
{
    background-color: $dark-background;

    *
    {
        color: white;
    }


    //NAV    
    .main-nav {background-color: $dark-primary-button;}
    .main-nav .item.active {background-color: $dark-secondary-button;}
    .main-nav .item.has-dropdown .dropdown {background-color: $dark-primary-button;}

    //AUTH


    //CreatePost
    .post-container .post-content .post-cropper .post-creator-content .buttons .next-button {background-color: $dark-primary-button;}

    //POST
    .post-view-container .post-box {border-color: $dark-accent;}
    
    //COMMENT
    .comments-box {border-color: $dark-accent;}
    .comments-box .comments-footer .send-btn {background-color: $dark-background;}
    .comments-box .comments-footer .comment-input {color: #000;}

    //SUGGEST
    .suggest .box {border-color: $light-accent;}

    .button {color: white; background-color: $dark-primary-button;}
    .input {color: black}
}