.login-container {

    width: 90%;
    height: calc(100vh - 60px);
    margin: auto;
    display: flex;

    justify-content: space-evenly;
    align-items: center;

    .content {

        width: 40%;

        .form {
            display: flex;
            flex-direction: column;
            
            form {
                display: flex;
                flex-direction: column;

                input {
                    width: 60%;
                    margin: 5px auto;
                }
            }

            .spacer {
                margin: 5px 0px;
                text-align: center;
            }

            .googleLogin {
                text-align: center;
            }
        }

    }

}