.cropping {
    .crop-container {
        .crop {
            height: 200px;
            width: 200px;
            position: relative;
        }
        
        .zoom {
            height: 200px;
            width: 200px;
            position: relative;
        }
    }
}