@font-face {
    font-family: watergalon;
    src: url("../../public/assets/fonts/Water\ Galon.ttf");
}
@font-face {
    font-family: roboto;
    src: url("../../public/assets/fonts/Roboto-Regular.ttf");
}
@font-face {
    font-family: robotobold;
    src: url("../../public/assets/fonts/Roboto-Black.ttf");
}
