@import "./settings.scss";
@import "./theme/themes.scss";


@import "./components/components.scss";

@import './pages/auth';
@import "./pages/profile";
@import "./pages/createPost";
@import "./pages/feed";
@import "./pages/discover";

@import './navbar';

@import './modules/modules.scss';

.App
{
    min-height: 100vh;
}

* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}