$main-nav-height : 3em;

$comment-footer-height: 70px;

$post-view-box-height: 840px;
$post-view-box-width: 700px;
$post-view-header-height: 70px;
$post-view-footer-height: 70px;

$dark-text:                 #FFFFFF;
$dark-background:           #030926;
$dark-primary:              #FFFFFF;
$dark-primary-button:       #0b24a2;
$dark-secondary-button:     #010413;
$dark-accent:               #0d2aba;

$light-text:                #09032b;
$light-background:          #f7f5fe;
$light-primary:             #09032b;
$light-primary-button:      #250bbc;
$light-secondary-button:    #e2ddfd;
$light-accent:              #2a0cd4;